:root {
    --background-color1: #ffffff;
    --background-color2: #eeeeee;
    --foreground-color1: #000000;
    --foreground-color2: #222222;
    --primary-color:     #6156ff;
    --secondary-color:   #eeff56;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
